.itemDescriptionContainer {
	padding: 2rem;
	background-color: #fff;
	font-family: 'proximanova-regular';
}

.itemDescription__data {
	display: flex;

	&__img {
		height: 28.125rem;
		max-width: 34.375rem;
		width: auto;
		object-fit: contain;
	}

	&__descriptionTitle {
		margin: 0.8em 0 0.4em;
		font-size: 1.75rem;
		line-height: 2.5rem;
	}

	&__descriptionText {
		max-width: 80ch;
	}

	&__info {
		margin-left: auto;
		max-width: 30ch;
		text-wrap: balance;

		&__condition {
			margin-top: 1.2em;
			margin-bottom: 0.6em;
			font-size: 1.25rem;
			line-height: 1.75rem;
		}

		&__name {
			margin-bottom: 0.4em;
			font-size: 1.5rem;
			line-height: 2.25rem;
			font-weight: 600;
		}

		&__price {
			margin-bottom: 1.2em;
			font-size: 2.75rem;
			line-height: 1;
		}

		&__buy {
			padding: 0.3em 0.6em;
			width: 100%;
			background-color: #0083fe;
			border-width: 0;
			font-size: 1.5rem;
			line-height: 2.25rem;
			color: #fff;
		}
	}
}
